<section>
    <div class="container">
        <table class="mt-5">


            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                     <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                   
                </tr>
            </thead>

            <tbody>
                {{# each products}}
                <tr>

                    <td><img style="width: 70px;height: 70px;" src="/product-images/{{this.product._id}}.jpg"></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>

                    <td>
                        <button
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button><span id='{{this.product._id}}'>{{this.quantity}}</span><button onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>
                    </td>
                    <td>
                        <a class="btn btn-danger" onclick="deleteProduct('{{this._id}}','{{this.product._id}}')">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5">
            <h5 class="float-left mr-5">TOTAL: RS.<span id="total">{{total}}</span></h5><br>
            <a href="/place-order" class="btn btn-success mt-3" style="width: 100%;"><b>Place order</b></a>
        </div>
    </div>
</section>



<script>
    function changeQuantity(cartId, proId,userId,count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                user:userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity:quantity,

            },
            method: 'post',
            success: (response) => {
                if(response.removeProduct){
                    alert("Product removed from cart")
                    location.reload()
                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById("total").innerHTML=response.total


                }
            }
      
        })
    }
</script>

<script>
    function deleteProduct(cartId,proId){
        $.ajax({
            url:'/delete-product/',
            data:{
                cart: cartId,
                product: proId,
            },
            method:'post',
            success:(response)=>{
                if(response.productDeleted){
                    alert("Product removed from cart")
                    location.reload()
                }
            }
        })
    }
</script>


