<section>
    <div class="container mt-5">
        <div class="row">
            {{# each products}}
                <div class="col-md-3" p-3>
                    <div class="card">
                        <img src="/product-images/{{this.product._id}}.jpg">
                    </div>
                    <div class="card-body">
                        <h5>{{this.product.Name}}</h5>
                        <p>Rs.{{this.product.Price}}</p>
                        <p>Quantity:{{this.quantity}}</p>
                        <p>{{this.Description}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>